################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dist
/node_modules
/tmp
out/temp.js
out/images/temp.js
